.iconResponsive {
  width: 64px;
  height: 64px;
}

@media (min-width: 640px) {
  .iconResponsive {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 768px) {
  .iconResponsive {
    width: 100px;
    height: 100px;
  }
}
